@font-face {
  font-family: "Futura-Normal";
  src: url("/futura.woff") format("woff");
}

tb-notification-button {
  width: 30%;
  float: left;
  display: block;
  padding: 1.5%;
}

body *:not(.fa) {
  font-family: "Futura-Normal", Helvetica;
}
body {
  margin: 0;
  padding: 0;
  color: rgb(80, 80, 80);
  overflow-x: hidden;
}
a:link {
  text-decoration: none;
  color: rgb(123, 143, 87);
}
a:visited {
  text-decoration: none;
  color: rgb(123, 143, 87);
}
a:hover {
  text-decoration: none;
  color: rgb(100, 123, 67);
}
